header{
    padding: 5px;
    background-image: linear-gradient(lightgray,white);
}

html, body, .container-fluid{
    height: calc(100% - 75px);
    margin: 0;   
}

.container-fluid{
    display: table;
    width: 100% !important;
    padding: 0 !important; /*set left/right padding according to needs*/
    box-sizing: border-box;
}

.row {
    height: 100%;
    display: table-row;
}

.trace-detail, .formulaire{
    padding: 10px;
    text-align:center;
}

.list-title *{
    display:inline;
    vertical-align: bottom;
}

#nav{
    padding: 10px;
}

#map{
    height: 100%;
}

.flashes .error{
    background-color: lightpink;
    color:darkred;
}

.flashes .success{
    background-color: #DBF4DA;
    color:darkgreen;
}