header{
    padding: 5px;
    background-image: linear-gradient(lightgray,white);
}

html, body, .container-fluid{
    height: calc(100% - 85px);
    margin: 0;   
}

.container-fluid{
    display: table;
    width: 100% !important;
    padding: 10px !important; /*set left/right padding according to needs*/
    box-sizing: border-box;
}

.row {
    height: 100%;
    display: table-row;
}

.trace-detail, .formulaire{
    padding: 10px;
    text-align:center;
}

.list-title *{
    display:inline;
    vertical-align: bottom;
}

#nav{
    padding: 10px;
}

#map{
    height: 100%;
}

.flashes *{
    padding: 5px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
}

.flashes .error{
    background-color: lightpink;
    color:darkred;
    border-color: darkred;
}

.flashes .success{
    background-color: #DBF4DA;
    color:darkgreen;
    border-color: darkgreen;
}

footer{
    text-align: center;
    display: inline;
    margin-top: 10px;
    padding:10px;
    background-image: linear-gradient(lightgray,gray);
}