{% extends 'base.html' %}

{% block content %}
<div class="trace-detail col-md-4">
    <h3>{{ trace.name }}</h3>
    <p>Type : {{ trace.type }}</p>
    <p>Créé le {{ trace.created_at.strftime('%Y-%m-%d')}}</p>
    
    {% if trace.comment %}
        <p>{{ trace.comment }}</p><br>
    {% else %}
        <p>No comment for this trace...</p>
    {% endif %}

    <div class="btn-group" role="toolbar">
        <a href="{{ url_for('delete_trace', trace_id = trace.id) }}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
        <a href="{{ url_for('edit_trace', trace_id = trace.id) }}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
        <a href="{{ url_for('download', trace_id = trace.id) }}" class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span> Download GPX</a>
    </div>
</div>

<div id="map" class="col-md-8"></div>

    {% include 'map.html' %}

<script type="text/javascript">
    
    $.getJSON("/api/traces/{{ trace.id }}", function(data) {
        var geojson = L.geoJson(data).addTo(map);
        map.fitBounds(geojson.getBounds());
        });

</script>
{% endblock %}

