{% extends 'base.html' %}

{% block content %}
<div class="formulaire col-md-4">
    <h3>Draw a new trace on the map</h3>
    <form method="post" id="trace_form">
        <p>Nom<br>
        <input type="text" name="name"><br>

        <p>type<br>
        <select name="type"> 
            {% for elem in types_available %}
                <option value = "{{elem}}">{{ elem }}</option>"
            {% endfor %}
        </select>
    
        <p>Commentaire<br>
        <textarea name="comment" form="trace_form"></textarea><br>
        <br>
    
        <textarea name="wkt_geom" form="trace_form" style="display:none;"></textarea>

        <p><input type="submit" value="Ajouter" class="btn btn-success">
    </form>
</div>
<div id=map class="col-md-8"></div>

{% include 'map.html' %}

<script>
    var drawnItems = new L.FeatureGroup();
    map.addLayer(drawnItems);
    var drawControl = new L.Control.Draw({
        draw: {
            polygon: false,
            marker: false,
            rectangle: false,
            circle: false,
            circlemarker: false
        },
        edit: {
            featureGroup: drawnItems
        }
    });
    map.addControl(drawControl);

    map.on(L.Draw.Event.CREATED, function (e) {
        var layer = e.layer;
        layer.editing.enable();
        map.addLayer(layer);
        var geojson_layer = layer.toGeoJSON();
        var wkt = Terraformer.WKT.convert(geojson_layer.geometry);
        $('textarea[name=wkt_geom]').html(wkt);
        layer.on('edit', function(){
            var geojson_layer = layer.toGeoJSON();
            var wkt = Terraformer.WKT.convert(geojson_layer.geometry);
            $('textarea[name=wkt_geom]').html(wkt);
        });
    })

</script>
{% endblock %}