{% extends 'base.html' %}

{% block content %}

{% include 'flash.html' %}

<div class="trace-detail col-md-4">
    {% if users %}
        <div class="list-title">
        <h3>Current registered Users </h3><p>({{users}} traces)</p>
        </div>
        
        <hr>
           
        {% for user in users %}
           <a href="{{ url_for('auth.user_detail', user_id = user.id) }}" class="track_link">{{user.pseudo}}</a>
        {% endfor %}

        <p>-</p>
    {% else %}
        <h3>No Users have registered for now... =( </h3>

        <a href='#'>Register</a>

    {% endif %}
</div>

{% endblock %}